<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ch.szederkenyi.heidi" android:installLocation="auto" 
	android:versionCode="1" android:versionName="0.1" >
	
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />
	
	<supports-screens android:anyDensity="true" android:resizeable="false" 
	    android:smallScreens="true" android:normalScreens="true" 
	    android:largeScreens="false" android:xlargeScreens="false"/>
	
	<application android:name="ch.szederkenyi.heidi.StaticContextApplication" android:theme="@style/AppTheme" 
		android:icon="@drawable/ic_launcher" android:label="@string/app_name" 
		android:allowBackup="true">
		<activity android:name="ch.szederkenyi.heidi.ui.activities.LaunchActivity" 
		    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="ch.szederkenyi.heidi.ui.activities.StoryboardActivity" 
		    android:screenOrientation="portrait"/>
		<activity android:name="ch.szederkenyi.heidi.ui.activities.CategoryChooserActivity" 
		    android:screenOrientation="portrait"/>
	</application>

</manifest>
